=begin
#Platform API

#Spree Platform API

The version of the OpenAPI document: v2
Contact: we@sparksolutions.co
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.0.0-SNAPSHOT

=end

require 'cgi'

module SpreeClient
  class WebhookEventsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Return a list of Webhook Events
    # Returns a list of Webhook Events
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :per_page 
    # @option opts [String] :include Select which associated resources you would like to fetch, see: &lt;a href&#x3D;\&quot;https://jsonapi.org/format/#fetching-includes\&quot;&gt;https://jsonapi.org/format/#fetching-includes&lt;/a&gt;
    # @option opts [String] :filter_name_eq 
    # @option opts [String] :filter_request_errors_cont 
    # @option opts [String] :filter_response_code_eq 
    # @option opts [String] :filter_success_eq 
    # @option opts [String] :filter_url_cont 
    # @return [ResourcesList]
    def webhook_events_list(opts = {})
      data, _status_code, _headers = webhook_events_list_with_http_info(opts)
      data
    end

    # Return a list of Webhook Events
    # Returns a list of Webhook Events
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page 
    # @option opts [Integer] :per_page 
    # @option opts [String] :include Select which associated resources you would like to fetch, see: &lt;a href&#x3D;\&quot;https://jsonapi.org/format/#fetching-includes\&quot;&gt;https://jsonapi.org/format/#fetching-includes&lt;/a&gt;
    # @option opts [String] :filter_name_eq 
    # @option opts [String] :filter_request_errors_cont 
    # @option opts [String] :filter_response_code_eq 
    # @option opts [String] :filter_success_eq 
    # @option opts [String] :filter_url_cont 
    # @return [Array<(ResourcesList, Integer, Hash)>] ResourcesList data, response status code and response headers
    def webhook_events_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhookEventsApi.webhook_events_list ...'
      end
      # resource path
      local_var_path = '/api/v2/platform/webhooks/events'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'include'] = opts[:'include'] if !opts[:'include'].nil?
      query_params[:'filter[name_eq]'] = opts[:'filter_name_eq'] if !opts[:'filter_name_eq'].nil?
      query_params[:'filter[request_errors_cont]'] = opts[:'filter_request_errors_cont'] if !opts[:'filter_request_errors_cont'].nil?
      query_params[:'filter[response_code_eq]'] = opts[:'filter_response_code_eq'] if !opts[:'filter_response_code_eq'].nil?
      query_params[:'filter[success_eq]'] = opts[:'filter_success_eq'] if !opts[:'filter_success_eq'].nil?
      query_params[:'filter[url_cont]'] = opts[:'filter_url_cont'] if !opts[:'filter_url_cont'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.api+json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResourcesList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"WebhookEventsApi.webhook_events_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookEventsApi#webhook_events_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
